<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main-layout">
<head>
    <title th:text="${category.name}"></title>
</head>
<body>

<!-- Page Header -->
<th:block layout:fragment="page-header">
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h2 th:text="${category.name}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <th:block th:each="post : ${posts}">
                    <div class="post-preview">
                        <a th:href="@{|/post/${post.id}}">
                            <h2 class="post-title" th:text="${post.title}"></h2>
                            <h3 class="post-subtitle" th:text="${post.subtitle}"></h3>
                        </a>
                        <p class="post-meta">
                            Posted at
                            <span th:text="${post.createdDate}"></span>
                        </p>
                    </div>
                    <hr>
                </th:block>

                <div class="clearfix">
                    <a class="btn btn-primary float-left"
                       th:if="${pageInfo.hasPrevious()}"
                       th:href="@{/post(
                       page=${pageInfo.number - 1}
                       ,categoryId=${searchInfo.categoryId})}"
                    >← Newer Posts</a>

                    <a class="btn btn-primary float-right"
                       th:if="${pageInfo.hasNext()}"
                       th:href="@{/post(
                       page=${pageInfo.number + 1}
                       ,categoryId=${searchInfo.categoryId})}"
                    >Older Posts →</a>
                </div>

            </div>
        </div>
    </div>

</th:block>

</body>
</html>
